@tailwind base;
@tailwind components;
@tailwind utilities;

.map-h2 {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 20px;
    padding-left: 10px;
    text-align: center;
  }
  
  .google-map {
    width: 100%;
    height: 60vh;
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 180px;
    color: var(--main-blue);
  }
  
  .pin-icon {
    font-size: 4rem;
  }
  
  .pin-text {
    font-size: 1.3em;
  }

  .logo {
    height: 50px; /* Adjust the height as needed */
    width: auto; /* This will maintain the aspect ratio */
    display: block;
    margin: auto;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
  }
  
  @media screen and (min-width: 799px) {
    .google-map {
      height: 80vh;
    }
  
    .map-h2 {
      font-size: 1.3rem;
      font-weight: 400;
    }
  
    .pin {
      width: 15vw;
    }
  
    .pin-icon {
      font-size: 10vw;
    }
  }

  .nav-link{
    font-size: 16px;
    font-weight: 600;
  }
  .footer{
    background-color: #2B2A29
  }
  .chbs-main-navigation-default ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.chbs-main-navigation-default li {
    flex: 1;
    text-align: center;
    padding: 10px 0;
}

.chbs-main-navigation-default a {
    text-decoration: none;
    color: #333; /* Change color as needed */
    display: inline-block;
}

/* Style for selected state */
.chbs-main-navigation-default li.chbs-state-selected span {
    color: #007bff; /* Change color as needed */
    font-weight: bold;
}

/* Optional: Style for hover state */
.chbs-main-navigation-default li:hover span {
    color: #007bff; /* Change color as needed */
    cursor: pointer;
}

  
